<!DOCTYPE html>
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
<style>
  input[type=text], input[type=password] {
    width: 20%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
</style>
     <h2> Welcome to news feed, you are welcome to sign up </h2>

    <form method="POST" action="/users/signup/add/">
    What is your username? <br/>
    <input type="text" name="username"> <br/>
    What is your password? <br/>
    <input type="text" name="password"> <br/>
    What is your occupation? 
    <!-- <input type="text" name="occupation"> <br/> -->
    <select>
      <option value="Teacher">Teacher</option>
      <option value="Model">Model</option>
      <option value="Accountant">Accountant</option>
      <option value="Chef">Chef</option>
      <option value="Doctor">Doctor</option>
      <option value="Officer">Officer</option>
      <option value="Athlete">Athlete</option>
      <option value="Software Engineer">Software Engineer</option>
      <option value="Traveller">Traveller</option>
    </select> <br/>
    <br/>
     <input type="submit" value="Submit" style="height: 100px; width: 150px; left: 400; top: 400;">
    </form>


</body>


</html>
